@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-accent: #F97316;
  --color-background: #F8FAFC;
  --color-cards: #FFFFFF;
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

body {
  background-color: var(--color-background);
  font-family: var(--font-inter);
  color: var(--color-primary);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}